body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
}

.vertical-navbar {
    width: 200px;
    background-color: #333;
    min-height: 100vh;
    padding-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 20px 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    display: block;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #555;
}

.container {
    width: calc(100% - 200px);
    margin: 20px auto;
    padding: 20px;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #555;
}

/* img {
    display: block;
    margin: 20px 0;
    max-width: 150px;
    border-radius: 50%;
} */
.profile-picture {
    display: block;
    margin: 20px auto;
    max-width: 150px;
}
.project-image {
    max-width: 100%; /* Adjust as needed */
    max-height: 400px; /* Adjust as needed */
    margin: 20px auto; /* Center the image horizontally with some margin */
    display: block; /* Ensures the image behaves as a block element */
}
